@keyframes product-box-ribbon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes product-box-fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.product-box__ribbon-shape {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(
      35% 35%,
      rgba(0, 0, 0, 0) 96%,
      rgba(0, 0, 0, 0) 97% 99%,
      rgba(0, 0, 0, 0)
    )
    var(--theme-color);
  clip-path: polygon(
    100% 50%,
    88.04% 62.36%,
    90.45% 79.39%,
    73.51% 82.36%,
    65.45% 97.55%,
    50% 90%,
    34.55% 97.55%,
    26.49% 82.36%,
    9.55% 79.39%,
    11.96% 62.36%,
    0% 50%,
    11.96% 37.64%,
    9.55% 20.61%,
    26.49% 17.64%,
    34.55% 2.45%,
    50% 10%,
    65.45% 2.45%,
    73.51% 17.64%,
    90.45% 20.61%,
    88.04% 37.64%
  );
  animation: product-box-ribbon-spin 20s linear infinite;
}
